<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!--公用文件引入-->
		<link href="../static/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../static/css/public.css" type="text/css" rel="stylesheet">
		
		<!--登录注册css-->
		<link href="../static/css/registerLogin.css" type="text/css" rel="stylesheet">
	</head>
	<body style="background-color: #b2b2b2;">
		<div class="info-box">
			<div class="tit">注册完成，等待后天确认</div>
			<div class="btn-require font-orange">
				确认
			</div>
		</div>
		
		<script src="../../htz-cyy/framework/jquery-1.12.2.min.js"></script>
		<script src="../static/js/public.js"></script>
		<script>
			$('.btn-require').click(function(){
				location.href = 'homePage.html';
			})
		</script>
	</body>
</html>
